.key {
padding: 1px;
display: flex;
font-family: var(--body-font);
font-size: 14px;
font-weight: bold;
text-align: center;
font-style:normal;
height: 30px;
width: 100px;
background-color: var(--blue);
border: none;
border-radius: 8px;
color: var(--white);
}


.key--value{
  border-radius: 8px 0px 0px 8px;
}

.value {
    padding: 1px;
    display: flex;
    font-family: var(--body-font);
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    font-style:normal;
    height: 30px;
    width: 100px;
    background-color: var(--white);
    border:  2px solid var(--blue) ;
    border-color: var(--blue);
    border-radius:0px 8px 8px 0px ;
    color: var(--black);  
}

.container-key-value{
    display: flex;
    
    align-content: baseline;
}

.item-a {
    display: flex;
    padding: 1px;
    background-color: var(--blue);
    box-sizing: border-box;
    border: solid 1px var(--white);
}

.general-grid {
    display: grid;
    width: 210mm;
    padding: 8mm;
    grid-template-columns: 27.75mm 20.18mm 12.76mm 21.77mm 13.32mm 22.49mm 19.67mm 17.98mm 20.71mm 17.4mm ;
    grid-template-rows: 90px 90px;
    
    border: 0.5px solid var(--black);
    
}

