
.container-key-value{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 7.75mm;
    margin-right: 3px;
    
    
}

.container-predio{
  margin-left: 8mm;
  margin-right: 8mm;
  width: 210mm;
  margin-bottom: 3px;
  
}


.key {

display: block;
font-family: var(--body-font);
line-height: 75%;
font-size: 0.78em;
font-weight: bold;
text-align: center;
font-style:normal;
background-color: var(--blue);
border: none;
border-radius: 8px;
color: var(--white);

}

.container-data{
  display: flex;
  height: 42mm;
  width: 194mm;
  padding-right: 1px;
  margin: 8mm 0px 3px 8mm;
  border:  2px solid var(--blue) ;
  border-color: var(--blue);
  border-radius: 8px;
}

.large--text{
  font-size: 0.68em;
  line-height: 100%;

}
.one-line{
   padding: 6px;
}

.two-line{

  line-height: 60%;
  
}

.etiquetas{
  margin-right: 2px;
    
}

.value {
    display: block;
    font-family: var(--body-font);
    line-height: 100%;
    font-size: .65em;
    margin-right: 1px;
    margin-left: 1px;
    text-align: center;
    font-weight: bold;
    font-style:normal;
    background-color: var(--white);
    border:  2px solid var(--blue) ;
    border-color: var(--blue);
    border-radius: 8px;
    color: var(--black);   
}

.input--value{
  height: 7.75mm;
}

.key--value{
    border-radius: 8px 0px 0px 8px;
    margin: 0px; 
  }
  
  .value--key{
      border-radius:0px 8px 8px 0px ;
    margin: 0px;
    }
  .dimension-1{
    width: 27.75mm;
  }
  .dimension-2{
    width: 100.75mm;
  }
  .dimension-3{
    width: 41.5mm;
  }
  .dimension-4{
    width: 32.94mm;
  }
  .dimension-5{
    width: 21.77mm;
  }

  .dimension-6{
    width: 53mm;
  }
  .dimension-7{
    width: 15mm;
  }
  .dimension-8 {
    width: 10mm;
  }
  .dimension-9 {
    width: 15.6mm;
  }
  .dimension-10 {
    width: 79mm;
  }
.general-row-grid {
    
    margin-bottom: 3px;
    display: grid;
    width: 210mm;
    height: 7.75mm;
    padding: 0px 8mm 0px 8mm;
    grid-template-columns: 27.75mm 20.18mm 12.76mm
                        21.77mm 13.32mm 22.49mm
                        19.67mm 17.98mm 20.71mm 17.4mm ;
 /**border: 3px solid var(--black) ;**/

}

.height__10_40{
  height: 10.40mm; 
   
}

.height__8{
    height: 8mm; 
    padding-top: 0px; 
    margin-bottom: 3px;
  }
.height__8_24{
    height: 8mm; 
    padding-top: 6px; 
  }

input{
    width: 100%;
    height: 100%;
}

p{
  padding: 4px;
  font-family: var(--body-font);
  text-align: justify;
}

.font-par{
  font-size: 6.6pt;
  font-weight: bold;
  line-height: 75%;
}